includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 5
    phpVersion: 80400

    paths:
        - app
        - routes
        - config
        - database

    reportUnmatchedIgnoredErrors: false